@import url('https://fonts.googleapis.com/css2?family=Abel&family=Candal&family=Kosugi+Maru&display=swap');
/*
font-family: 'Abel', sans-serif;
font-family: 'Candal', sans-serif;
font-family: 'Kosugi Maru', sans-serif;
*/

body{
    background-color:#00000B;
}

h1{
    color:white;
    margin-left:10%;
    font-family: 'Abel', sans-serif;
    font-weight:100;
}

h2{
    font-size:200%;
    text-align:center;
    color:white;
    text-shadow: 
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #7aFFFF,
    0 0 82px #7aFFFF,
    0 0 92px #7aFFFF,
    0 0 102px #7aFFFF,
    0 0 151px #7aFFFF;
    font-weight:100;
    font-family: 'Kosugi Maru', sans-serif;
}

.profile-picture{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:13vw;
    border-radius:30px;
}

.link-segment{
    display:flex;
    justify-content:center;
    padding-top:10px;
    margin-left:auto;
    margin-right:auto;
}

.link-button{
    padding-left:3%;
    padding-right:3%
}

.link{
    width:4%;
    display:inline-block;
    padding-left:1%;
    padding-right:1%;
}

.twitter-icon{
    width:100%;
    fill: #1D9BF0;
    
}

.twitter-icon:hover{
    fill:#FFFFFF;
    background-size:200%;
    background-color:#1D9BF0;
    border-radius:7px;
}

.github-logo{
    display:inline-block;
}

.profile{
    color:white;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    padding-left:5%;
    padding-right:5%;
    font-size:2vw;
}

@media (min-width:960px){
    .profile{
        color:white;
        text-align:center;
        margin-left:auto;
        margin-right:auto;
        padding-left:5%;
        padding-right:5%;
        font-size:1.5vw;
    }
}

.profile tr td {
    color:white;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:30px;
    text-align:left;
    border-bottom: 1px solid #7aFFFF;
}

article{
    border-top:1px solid #7aFFFF;
    border-bottom:1px solid #7aFFFF;
    display:flex;
    justify-content:space-around;
    margin-bottom:2%;
}

.article{
    color:white;
    padding-left:5%;
    padding-right:5%;
    margin-left:auto;
    margin-right:auto;
}

.article-image{
    display:inline;
    width:20%;
    height:20%;
    margin-left:5%;
    margin-right:5%;
    margin-top:auto;
    margin-bottom:auto;
}

@media screen and (max-width:960px){
    .article-text{
        font-size:50%;
        margin-left:5%;
        margin-right:5%;
    }

    .article-image{
        display:inline;
        width:50%;
        margin-left:5%;
        margin-right:5%;
        margin-top:auto;
        margin-bottom:auto;
    }
}

h3{
    clear:both;
    color:white;
}

footer{
    background-color:white;
    width:100%;
    bottom:0;
    margin-top:0px;
    margin-bottom:0px;
}

h6{
    margin-top:0px;
    margin-bottom:0px;
    text-align:center;
    font-size:20px;
    color:black;
    font-family: 'Candal', sans-serif;
}